<div class="pantry_section" id="1">
	<h2>Oils, Vinegars and Condiments</h2>
	<div class="pantry_list">
		<ul id="1_list">
			<% @ingredients.joins(:categories).where(categories:{id:1}).each do |ing| %>
				<li>
					<span class="ing"><%= ing.name %></span> 
					<span class="delete_ing">X</span>
				</li>
			<% end %>
		</ul>
		<div class="pantry_form">
			<input type"text" placeholder="Add ingredient and press enter" class="pantry_input">
		</div>
	</div>
</div>
<div class="pantry_section" id="2">
	<h2>Seasonings</h2>
	<div class="pantry_list">
		<ul id="2_list">
			<% @ingredients.joins(:categories).where(categories:{id:2}).each do |ing| %>
				<li>
					<span class="ing"><%= ing.name %></span> 
					<span class="delete_ing">X</span>
				</li>
			<% end %>
		</ul>
		<div class="pantry_form">
			<input type"text" placeholder="Add ingredient and press enter" class="pantry_input">
		</div>
	</div>
</div>

<div class="pantry_section" id="3">
	<h2>Canned Goods and Bottled Items</h2>
	<div class="pantry_list">
		<ul id="3_list">
			<% @ingredients.joins(:categories).where(categories:{id:3}).each do |ing| %>
				<li>
					<span class="ing"><%= ing.name %></span> 
					<span class="delete_ing">X</span>
				</li>
			<% end %>
		</ul>
		<div class="pantry_form">
			<input type"text" placeholder="Add ingredient and press enter" class="pantry_input">
		</div>
	</div>
</div>

<div class="pantry_section" id="4">
	<h2>Grains and Legumes</h2>
	<div class="pantry_list">
		<ul id="4_list">
			<% @ingredients.joins(:categories).where(categories:{id:4}).each do |ing| %>
				<li>
					<span class="ing"><%= ing.name %></span> 
					<span class="delete_ing">X</span>
				</li>
			<% end %>
		</ul>
		<div class="pantry_form">
			<input type"text" placeholder="Add ingredient and press enter" class="pantry_input">
		</div>
	</div>
</div>

<div class="pantry_section" id="5">
	<h2>Baking Products</h2>
	<div class="pantry_list">
		<ul id="5_list">
			<% @ingredients.joins(:categories).where(categories:{id:5}).each do |ing| %>
				<li>
					<span class="ing"><%= ing.name %></span> 
					<span class="delete_ing">X</span>
				</li>
			<% end %>
		</ul>
		<div class="pantry_form">
			<input type"text" placeholder="Add ingredient and press enter" class="pantry_input">
		</div>
	</div>
</div>

<div class="pantry_section" id="6">
	<h2>Refrigerator Basics</h2>
	<div class="pantry_list">
		<ul id="6_list">
			<% @ingredients.joins(:categories).where(categories:{id:6}).each do |ing| %>
				<li>
					<span class="ing"><%= ing.name %></span> 
					<span class="delete_ing">X</span>
				</li>
			<% end %>
		</ul>
		<div class="pantry_form">
			<input type"text" placeholder="Add ingredient and press enter" class="pantry_input">
		</div>
	</div>
</div>

<div class="pantry_section" id="7">
	<h2>Freezer Basics</h2>
	<div class="pantry_list">
		<ul id="7_list">
			<% @ingredients.joins(:categories).where(categories:{id:7}).each do |ing| %>
				<li>
					<span class="ing"><%= ing.name %></span> 
					<span class="delete_ing">X</span>
				</li>
			<% end %>
		</ul>
		<div class="pantry_form">
			<input type"text" placeholder="Add ingredient and press enter" class="pantry_input">
		</div>
	</div>
</div>

<div class="pantry_section" id="8">
	<h2>Storage Produce</h2>
	<div class="pantry_list">
		<ul id="8_list">
			<% @ingredients.joins(:categories).where(categories:{id:8}).each do |ing| %>
				<li>
					<span class="ing"><%= ing.name %></span> 
					<span class="delete_ing">X</span>
				</li>
			<% end %>
		</ul>
		<div class="pantry_form">
			<input type"text" placeholder="Add ingredient and press enter" class="pantry_input">
		</div>
	</div>
</div>

<div class="pantry_section" id="9">
	<h2>Fresh Produce</h2>
	<div class="pantry_list">
		<ul id="9_list">
			<% @ingredients.joins(:categories, :users).where(categories:{id:9}, users:{id:current_user.id}).each do |ing| %>
				<li>
					<span class="ing"><%= ing.name %></span> 
					<span class="delete_ing">X</span>
				</li>
			<% end %>
		</ul>
		<div class="pantry_form">
			<input type"text" placeholder="Add ingredient and press enter" class="pantry_input">
		</div>
	</div>

</div>

<div class="search_button">
	SEARCH
</div>

<div class="save_button">
	SAVE
</div>

