<!DOCTYPE html>
<html>
<head>
  <title>Cook</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link href='https://fonts.googleapis.com/css?family=Arvo:400,700,400italic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav id="logo_nav">
		<h1>Pantry<span>Chef</span></h1>
		<span class="glyphicon glyphicon-menu-hamburger" id="dropdown_menu"></span>
		<div class="menu_drop">
			<% if !logged_in? %>
				<%= form_tag sessions_path do %>
					<%=text_field_tag :email, nil, :placeholder=>"Email", id: "login_username" %>
					<%=password_field_tag :password, nil, :placeholder=> "Password", id: "login_pass" %>
					<%=submit_tag "Log in", id:"login_button" %>
				<%end%>
			<% else %>
				<%=link_to "Log Out", session_path(current_user.id), method: "delete"%>
			<% end %>
		</div>
	</nav>
	<%= flash[:alert] if flash[:alert]%>
	<%= flash[:notice] if flash[:notice]%>
	<%= yield %>

</body>
</html>
